#mainDiv{
    padding: 13px 13px 13px 13px ;
}

.formGroupFrom{
    border: 1px solid #88Cc84;
    border-radius: 15px;
    margin: 6px auto;
    padding: 9px 9px 9px 9px;
}

.formGroupTo{
    border: 1px solid #B8Ac84;
    border-radius: 15px;
    margin: 6px auto;
    padding: 9px 9px 9px 9px;
}

.SwapButton{
    background-color: #floralwhite;
      font-size: calc(5px + 2vmin);
    padding: 2px 9px 2px 9px;
}


#dinput {
    background-color: transparent;
    opacity: 0.8;
  	filter: alpha(opacity=60); /* For IE8 and earlier */
    border:none;
    outline:none;
  }

.SwapFormTitle{
  text-align: left;
}
