.App {
  text-align: center;
}

.main {
  background: #2e3542;
  min-height: 100vh;
}

.content {
  margin: 0 auto;
  /* top: 62vh; */
  transform: translateY(5%);
  max-width: 450px;
  min-width: 300px;
  padding: 1rem;
}

.bch-div {
  background: #23242a;
  height: 10rem;
  width: 30rem;
  border: 4px solid #8bb35c;
  border-radius: 13px;
  margin-bottom: 1rem;
}

.spice-div {
  background: #23242a;
  height: 10rem;
  width: 30rem;
  border: 4px solid #ef2a31;
  border-radius: 13px;
  margin-top: 1rem;
}

.divider {
  width: 100%;
  border-bottom: 2px solid #8bb35c;
  border-radius: 4px;
  margin: 0.5rem 0;
}

.input {
  width: 7rem;
  height: 2rem;
  background: #23242a;
  border-width: 0px;
  color: #8bb35c;
  font-size: 1.5rem;
  font-weight: bold;
  /* text-align: center; */
}

.bch-input {
  width: 17rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usd-div {
  width: 17rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.you-are-exchanging {
  padding: 1rem 0 0 1rem;
  color: gray;
  font-size: 17px;
  font-weight: 600;
}

.layout {
  width: 30rem;
  padding: 2rem;
  background: #23242a;
  border-radius: 2.5rem;
}

.bch {
  color: #8bb35c;
}

.bch-context {
  font-size: 1.5rem;
  font-weight: bold;
  transform: translateY(25%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow-icon {
  text-align: center;
}

.bch-image {
  width: 4rem;
  height: 100%;
}

.bottom-main-div {
  width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  background: #292a2e;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  transform: translateX(6%);
  text-align: center;
  border-radius: 1rem;
  bottom: -22%;
}

.button {
  width: 28rem;
  height: 4rem;
  border-radius: 1.5rem;
  color: #fff;
  font-size: 1.5rem;
  background: #1b57f4;
  border-width: 0;
  margin-top: 16px;
}

.bottom-text {
  color: grey;
}

.spice {
  color: #ef2a31;
}

.divider-spice {
  width: 100%;
  border-bottom: 2px solid #ef2a31;
  border-radius: 4px;
  margin: 0.5rem 0;
}

.spice-input {
  width: 7rem;
  height: 2rem;
  background: #23242a;
  border-width: 0px;
  color: #ef2a31;
  font-size: 1.5rem;
  font-weight: bold;
}
